body {
    background-color: #f3efef;
}
.All {
    width: 300px;
}

.Angaben {
    border-radius: 1px;
    padding: 10px;
    text-align: center;
}

.Geschlecht{
    padding: 8px;
    padding-bottom: 15px;
    border-radius: 1px;
    background: #f3efef;
}

.title{
    border-radius: 5px;
    border: 1px solid black;
    background: white;
    text-align: left;
}

#buttons {
    float: right;
    margin-bottom: 5px;
    margin-top: 10px;
}

#table {
    float: right;
    border-spacing: 20px;
}